# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Models & data (large files)
ai_engine/models/*.pkl
ai_engine/models/*.onnx
feature_pipeline/scaler.pkl
data/logs/*.csv
data/raw/*.pcap
data/processed/*.csv
data/pcap/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
